<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>
        <h1>Bunker Airsoft</h1>
    </header>
    <nav>
        - [О полигоне](/about/)
- [Правила](/rules/)
- [Новости](/news/)
- [Купить билет](/tickets/)
    </nav>
    <div class="container">
        <section>
            {{ content }}
        </section>
    </div>
    <footer>
        &copy; 2025 Bunker Airsoft. Все права защищены.
    </footer>
</body>
</html>
